* {
    box-sizing: border-box;
    font-family: 'Oswald';
}

html, body {
    margin: 0;
}




form,
.intro {
    max-width: 600px;
    min-width: 400px;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: hsla(201, 100%, 6%, 0.6);
    border-radius: 8px;
}

.main-header {
    max-width: 600px;
    min-width: 400px;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: hsla(201, 100%, 6%, 0.6);
    border-radius: 8px;
    margin-top: 0;
}

.main-header h1 {
    margin: 0;
    padding: 30px;
}

.main-header,
.intro,
form h1 {
    text-align: center;
    color: lavender;
    text-shadow: 1px 1px .8px black;
}

.intro h2 {
    font-weight: normal;
    font-size: 1.5em;
}

.intro p {
    font-size: 1.2em;
    font-weight: normal;
}

.form-contact .flex{
    display: flex;
    flex-direction: column;
    
}

.form-contact label,
.newsletter-form label {
    color: lavender;
    text-shadow: 1px 1px .8px black;
    font-weight: normal;
    font-size: 1.2em;
    margin-bottom: 10px;
}



.form-contact input,
.form-contact select,
.newsletter-form textarea {
    font-size: 1.2em;
    padding: .1em .25em;
    background-color: hsla(201, 100%, 91%, 0.3);
    border: 1px solid hsl(201, 100%, 6%);
    outline: none;
    border-radius: 5px;
    color: white;
    font-weight: normal;
    width: 100%;
    margin-bottom: 7px;
}

#zip_code {
    width: 40%;
}

.form-contact input:focus {
    border: 1px solid hsl(201, 100%, 50%)
}

.recieve {
    margin-bottom: 20px;
}

.sign-up-but {
    padding: 10px 30px;
    width: 100%;
    border-radius: 5px; 
    background-color: hsla(201, 100%, 50%, 0.1);
    border: 1px solid hsl(201, 100%, 50%);
    outline: none;
    font-size: 1.5em;
    color: white;
    font-weight: lighter;
    margin-top: 20px;
    cursor: pointer;
}

.sign-up-but:hover {
    background-color: hsla(201, 100%, 50%, 0.3)
}

.sign-up-but:focus {
    background-color: hsla(201, 100%, 50%, 0.5)
}
footer p {
    text-align: center;
}
/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {
    .form-contact .flex {
        flex-direction: row;
    }

    .form-contact input
    .form-contact select {
    flex-grow: 1;
    flex-basis: 75%;
    }

    .form-contact label {
        flex-basis: 25%;
        height: 50px;
        margin: auto 0;
    }

    #zip_code{
        max-width: 25%;
    }
  }
  
  
  
  