* {
    box-sizing: border-box;
}
body {
    font-family: 'Oswald', sans-serif;
    margin: auto;
}

.main-header,
.intro {
    text-align: center;
}
.main-header {
    background: coral;
    color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,.4);
	width: 100%;
	top: 0;
    margin: auto;
    padding-top: 16px;
    padding-bottom: 16px;
}

.main, 
.main-footer {
    padding: 36px;
    margin: auto;
}

.intro {
    border-bottom: 4px double thick black;
    
}

